# Nettoyage

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time

df_original = pd.read_csv('spam.csv', encoding="ISO-8859-1")
df = df_original[['v1', 'v2']].copy()
df.rename(columns={"v1": "label", "v2": "content"}, inplace = True)
df.head()

  label                                            content
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
print(df.dtypes)
df.describe()

label      object
content    object
dtype: object

       label                 content
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [3]:
df.content.value_counts()
print(df.describe())
#Proportion 'ham' : 4825/5572 = 86.6%
df.drop_duplicates(inplace = True)
print(df.describe())
#Proportion 'ham' : 4516/5169 = 87.4%
#Le Ratio ham/spam est donc conservé à 0.8% près après retrait des doublons.
df.to_csv('spam_clean.csv')

       label                 content
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30
       label                                            content
count   5169                                               5169
unique     2                                               5169
top      ham  Go until jurong point, crazy.. Available only ...
freq    4516                                                  1

# Preprocessing